.row {
  width: 550px;
  height: 100px;
  margin: 20px auto;
  font-size: 15px;
  display: flex;
}

img {
  width: 130px;
  height: 100px;
}

.row p {
  width: 130px;
  height: 100px;
}

.info {
  width: 599px;
  height: 99px;
  text-align: center;
  border: 1px solid gray;
}
